<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Property-About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>

</head>
<body>

    <div class = "vw-100 py-4" style = "background-color : #f1f1f1">
        <div class = "container">
            <div class = "row row-content">
                <div class = "col-12 col-md-2">
                    <p style = "font-size : 24px; color : grey">About Us</p>
                </div>
                <div class = "col-12 col-md-10">
                    <div class = "row row-content pl-2">
                        <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a1" id = "faq_q1">
                            What is messageproperty.com?
                        </a>
                        <p class = "faq_a text-secondary collapse show" id = "faq_a1">
                            Message Property is a platform which aims to remove all the
                            clutter and make quality introductions between housing property owners,property investors,property business brands,property brokers,
                            property lenders and advisors, extending beyond their geographical location through easy whatsapp messaging.
                        </p>
                    </div>
                    <div class = "row row-content pl-2">
                        <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a2" id = "faq_q2">
                            What is the profile of messageproperty.com team?
                        </a>
                        <p class = "faq_a text-secondary collapse show" id = "faq_a2">
                            Our team has IIT,IIM pedigree with a deep experince in technology & real estate market.
                        </p>
                    </div>

                    <!--<div id = "faq_more" class = "collapse">-->
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a3" id = "faq_q3">
                                Where messageproperty.com office based at?
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a3">
                                We are based in Bengaluru City.
                            </p>
                        </div>
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a4" id = "faq_q4">
                                Can users from any country register on message property platform?
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a4">
                                Only users from Indian subcontinent can use our platform.
                            </p>
                        </div>
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a5" id = "faq_q5">
                                Should I use Message Property instead of an advisor?
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a5">
                                You should use Message Property to gain qualified leads from large network of housing property owners, investors, property business brands,brokers,
                            lenders and advisors, extending beyond their geographical location through easy whatsapp messaging.


                            </p>
                        </div>

                    <!--</div>-->
                    <!--<a class = "text-primary" id = "faq_toggle" data-toggle = "collapse" href = "#faq_more" style = "font-size : 12px;text-decoration : none !important;">Show More</a>-->
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>