<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Property - How it Works</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>

</head>
<body>

    <div class = "vw-100 py-4" style = "background-color : #f1f1f1">
        <div class = "container">
            <div class = "row row-content">
                <div class = "col-12 col-md-2">
                    <p style = "font-size : 24px; color : grey">How it works?</p>
                </div>
                <div class = "col-12 col-md-10">
                    <div class = "row row-content pl-2">
                        <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a1" id = "faq_q1">
                            Step Number 1
                        </a>
                        <p class = "faq_a text-secondary collapse show" id = "faq_a1">
                            Post details of your property in the provided form fields for free.Set property status to available if you want to showcase property on our platform for rent or sale.Otherwise set it to
                            unavailable so that the property profile web address is only limited to your use.After successful posting ,you will be getting web address in the form of
                            messageproperty.com/YourWhatsappNumber for your property profile.
                        </p>
                    </div>
                    <div class = "row row-content pl-2">
                        <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a2" id = "faq_q2">
                            Step Number 2
                        </a>
                        <p class = "faq_a text-secondary collapse show" id = "faq_a2">
                            After successful posting ,you will be getting web address of your property profile in the form of
                            Messageproperty.com/YourWhatsappNumber.
                        </p>
                    </div>

                    <!--<div id = "faq_more" class = "collapse">-->
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a3" id = "faq_q3">
                                Step Number 3
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a3">
                                In case of renting,Whenever your property is being rented out,change its status to unavailable so that it will become invisible to property seekers coming on our website.
                                Whenever its available again or if you want to edit something in it,just log in and edit or change its status to available so that it will become again visible to property seekers coming on our website.


                            </p>
                        </div>
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a4" id = "faq_q4">
                                Step Number 4
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a4">
                                After posting,you can also share the web address generated in your circle or on facebook or your residential community groups to get more visibility for your property which is available for rent or sale.
                                Additionally if you set the property status to available while creating your property profile,it will be visible to our website visitors as well & you may also get direct leads on your whatsapp in form of them if they like to connect with you on whatsapp.
                            </p>
                        </div>
                        <div class = "row row-content pl-2">
                            <a class = "faq_q mb-0 text-primary" data-toggle = "collapse" href = "#faq_a5" id = "faq_q5">
                                Step Number 5
                            </a>
                            <p class = "faq_a text-secondary collapse show" id = "faq_a5">
                                Sit back & relax as you will be starting getting leads on your whatsapp.


                            </p>
                        </div>

                    <!--</div>-->
                    <!--<a class = "text-primary" id = "faq_toggle" data-toggle = "collapse" href = "#faq_more" style = "font-size : 12px;text-decoration : none !important;">Show More</a>-->
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>